
#submit-button {
  float: right;
}
.form-group {
  padding-left: 10%;
  margin:3%;
}
#table{
  text-align: center;
  margin: 10px 15px; 
  font-size: medium;
  box-sizing: content-box;
}
.btn-group {
  border: none;
  color: black;
  padding: 25px 15px;
  margin-top: 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
#search-button{
  border: none;
  color: white;
  padding: 8px 90px;
  margin: 0% 1% -2% 10% ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;

}
#order-button{
  margin-left: 53px;
}
#filter-button{
  margin: 5%;
}

#search-whole {
  float: left;
}
